[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tablib = "*"
djangorestframework = "*"
django = "*"
"psycopg2-binary" = "*"
openpyxl = "<2.5"  # https://github.com/kennethreitz/tablib/issues/331
reportlab = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-echo = "*"
pytest-pythonpath = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
